
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,100&family=Roboto:wght@100&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.letrero {
    font-size: 72px;
    background: linear-gradient(45deg, #ff33b4,#337DFF);
    -webkit-background-clip: text;
    color: transparent;
    animation: colorChange 5s linear infinite;
    background-size: 400%;
}

@keyframes colorChange {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}
.navbar-expand-lg{
    background-color: #ffffff;
}
.content {
    padding: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #ccc;
    padding: 5px;
  }
  .table th {
    text-align: left;
  }
  .contenedor {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .noticias {
    width: 100%;
    margin: 15px 0;
    padding: 15px;
  }
  .noticias h1 {
    font-size: 21px;
    color: rgb(16, 92, 16);
    text-align: justify;
  }
  .noticias p {
    font-size: 18px;
    text-align: justify;
  }
  .contenido{
    width: 100;
    height: 100;
    padding: 10px;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .contenido img{
      border-radius: 50%;
  }



  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .gallery img {
    width: 200px; /* Tamaño fijo para todas las imágenes */
    height: 200px; /* Tamaño fijo para todas las imágenes */
    transition: transform 0.3s;
  }

  .gallery img:hover {
    transform: scale(1.2);
  }
